
@{
    ViewData["Title"] = "Without MediatR";
}

<h2>Without MediatR - Index</h2>

<ul>
    <li><a asp-controller="WithoutMediatR" asp-action="GetAllUsers">Get All Users</a></li>
    <li><a asp-controller="WithoutMediatR" asp-action="AddUser">Add User</a></li>
</ul>