
@{
    ViewData["Title"] = "Index";
}

<h2>Home - Index</h2>

<ul>
    <li><a asp-controller="WithoutMediatR" asp-action="Index">Without MediatR</a></li>
    <li><a asp-controller="WithMediatR" asp-action="Index">With MediatR</a></li>
</ul>