
@{
    ViewData["Title"] = "Index";
}

<h2>With MediatR - Index</h2>

<ul>
    <li><a asp-controller="WithMediatR" asp-action="GetAllUsers">Get All Users</a></li>
    <li><a asp-controller="WithMediatR" asp-action="AddUser">Add User</a></li>
</ul>